html, body, pre, code, kbd, samp {
    font-family: 'Press Start 2p';
}

body {
    padding: 2%;
}

#alphabet li {
    padding: 2rem;
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 15px;
    height: 15px;
    padding-top: 10px;
    background: black;
    color: red;
    cursor: pointer;
}