{% extends "capstone/layout.html" %}
{% load static %}
{% block body %}

<div class="nes-container my-4">
    <p class="nes-badge">
        <span class="is-dark">
            Pokedex
        </span>
    </p> 
    <div class="lists">
        <ul class="nes-list is-disc">
            <li>Search for information about a Pokemon.</li>
            <li>Learn about all 151 Pokemon from the Kanto region!</li>
            <li>Have a browse or look for the one you had in mind.</li>
        </ul>
    </div>
    <p class="nes-badge">
        <span class="is-dark">
            Battle
        </span>
    </p>
    <div class="lists">    
        <ul class="nes-list is-disc">
            <li>Use your skills and knowledge of Pokemon types!</li>
            <li>Try to beat Ash in a Pokemon battle.</li>
        </ul>
    </div>
    
    <p class="nes-badge">
        <span class="is-dark">
            Guess
        </span>
    </p> 
    <div class="lists">
        <ul class="nes-list is-disc">
        <li>Test your knowledge of Pokemon names!</li>
        <li>Guess the hidden Pokemon before you run out of lives.</li>
        </ul>
    </div>
    
    <p class="nes-badge">
        <span class="is-dark">
            Ekans
        </span>
    </p> 
    <div class="lists">
        <ul class="nes-list is-disc">
            <li>Help Ekans find his food in a classic style game.</li>
        </ul>
    </div>
</div>

<div class="nes-container my-4">
    <p class="nes-badge">
        <span class="is-warning">
            About
        </span>
    <p>   
    <p class="m-4">
        This website is my final project for the CS50 Web Development (Python/Javascript) course.
    </p>
    <p class="m-4">
        <i class="nes-octocat animate"></i> For more information, please take a look at my README.md on Github.         
    </p>


</div>
{% endblock %}