{% extends "capstone/layout.html" %}
{% load static %}
{% block body %}
<div class="ui container">

    <h2 class="ui center aligned header">
        Search
    </h2>

    <form class="ui form" action="search" method="post">
        {% csrf_token %}
        <input class="field" name="search_input" type="text" align="center" placeholder="All or part of a Pokemon name.. eg 'pika'"></input>
        <button class="ui center aligned blue button" type="submit" align="center">Search a Pokemon!</button>    
    </form>



    <a class="ui teal labeled icon button" href="{% url 'randomise' %}">
        Random Pokemon!
        <i class="random icon"></i>
    </a>

    <div class="ui horizontal divider"> Or </div>
    
    <h2 class="ui center aligned header">
        Browse!
    </h2>
    <div class="ui relaxed divided list">
        {% for each in pokemon_list %}

            <a class="header item" href="#">    
                {{ each }}
            </a>

        {% endfor %}
    </div>
</div>
{% endblock %}