{% extends "capstone/layout.html" %}
{% load static %}
{% block body %}
<div class="nes-container with-title is-centered">
    <p class="title">
        {{ pokemon_info.name }}
    </p>
    
    <p class="nes-badge">
        <span class="is-warning">Number {{ pokemon_info.pokemon_id }}</span>
    </p>
    
    <div class="nes-table-responsive">
        <table class="nes-table is-bordered is-centered">
            <thead>
                <tr>
                    <th>Table.is-bordered</th>
                    <th>Table.is-centered</th>
                    <th>Table.is-centered</th>
                    <th>Table.is-centered</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ pokemon_info.description }}</td>
                    <td>{{ pokemon_info.main_type }} type</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Evolves from {{ pokemon_info.evolves_from }}</td>
                    <td>Evolves to </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

      
    
    
    
</div>
{% endblock %}