{% extends "capstone/layout.html" %}
{% load static %}
{% block body %}

<div class="nes-container">
    <h1>Guess!</h1>
    <p>Use the alphabet below to guess the word.</p>
    <div>
        <div id="buttons"></div>  
        <p id="livesLeft"></p> 
        <div class="nes-container">
        <div id="hold"></div>
        </div>        
        <div class="nes-container">
            <button class="nes-btn" id="reset">Play again</button>
        </div>
    </div>
</div>

<script>
window.onload = function () {

var alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h',
      'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's',
      't', 'u', 'v', 'w', 'x', 'y', 'z'];

var word ;              // the word to guess
var guess ;             // a letter that is guessed
var guesses = [ ];      // stores a list of guessed letters
var lives ;             // lives left
var counter ;           // number of correct guesses
var space;              // if there are any spaces in word - shows like this: '-'

// get elements
var showLives = document.getElementById("livesLeft");

// create alphabet ul
var buttons = function () {
    myButtons = document.getElementById('buttons');
    letters = document.createElement('ul');

    for (var i = 0; i < alphabet.length; i++) {
        letters.id = 'alphabet';
        list = document.createElement('li');
        list.id = 'letter';
        list.innerHTML = alphabet[i];
        check();
        myButtons.appendChild(letters);
        letters.appendChild(list);
    }
}
  
// Create guesses ul
result = function () {
    wordHolder = document.getElementById('hold');
    correct = document.createElement('ul');

    for (var i = 0; i < word.length; i++) {
        correct.setAttribute('id', 'my-word');
        guess = document.createElement('li');
        
        // dashes for each letter
        if (word[i] === "*") {
            guess.innerHTML = "*";
            space = 1;
        } else {
            guess.innerHTML = "*";
        }

    guesses.push(guess);
    wordHolder.appendChild(correct);
    correct.appendChild(guess);
    }
}

// show number of lives left
comments = function () {
    showLives.innerHTML = "You have " + lives + " lives";
    if (lives < 1) {
        showLives.innerHTML = "Game Over";
    }
    for (var i = 0; i < guesses.length; i++) {
        if (counter + space === guesses.length) {
            showLives.innerHTML = "You Win!";
        }
    }
}

// OnClick Function
check = function () {
    list.onclick = function () {
    var guess = (this.innerHTML);
        this.setAttribute("class", "active");
        this.onclick = null;
        for (var i = 0; i < word.length; i++) {
            if (word[i] === guess) {
                guesses[i].innerHTML = guess;
                counter += 1;
            } 
        }
    var j = (word.indexOf(guess));
    if (j === -1) {
        lives -= 1;
        comments();
    } else {
        comments();
    }
    }
}

// Play
play = function () {
    categories = [
        ["pikachu"]
    ];

    chosenCategory = categories[Math.floor(Math.random() * categories.length)];
    console.log(chosenCategory);
    // choose word here
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
        //document.getElementById("demo").innerHTML = this.responseText;
            var chosenWord = JSON.parse(this.responseText);
            console.log(chosenWord);
            console.log(chosenWord.length);
        }
    
    word = chosenWord  
    //console.log(word);
    };
  
    xhttp.open("GET", "api/random-pokemon", true);
    xhttp.send(); 
    //console.log(word);


    word = chosenCategory[Math.floor(Math.random() * chosenCategory.length)];
    //console.log(word);


    buttons();

    guesses = [ ];
    lives = 10;
    counter = 0;
    space = 0;
    result();
    comments();
}

play();


 // Reset
document.getElementById('reset').onclick = function() {
    correct.parentNode.removeChild(correct);
    letters.parentNode.removeChild(letters);
    play();
}
}

</script>

{% endblock %}