<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
{% block body %}

<div class="ui container">

<h1 class="ui huge header"> Requirements </h1>
<div class="ui divider"></div>
    <p>In this project, you are asked to build a web application of your own. The nature of the application is up to you, subject to a few requirements:</li>

    <ul>
        <div class="ui divider"></div>
            <li>Your web application must be sufficiently distinct from the other projects in this course (and, in addition, may not be based on the old CS50W Pizza project), and more complex than those.</li>
        <div class="ui divider"></div>
            <li>Your web application must utilize Django (including at least one model) on the back-end and JavaScript on the front-end.</li>
        <div class="ui divider"></div>
            <li>Your web application must be mobile-responsive.</li>
        <div class="ui divider"></div>
            <li>In a README.md in your project’s main directory, include a short writeup describing your project, what’s contained in each file you created, and (optionally) any other additional information the staff should know about your project.</li> 
        <div class="ui divider"></div>
            <li>This file should also provide your justification for why you believe your project satisfies the distinctiveness and complexity requirements, mentioned above.</li>
        <div class="ui divider"></div>
            <li>If you’ve added any Python packages that need to be installed in order to run your web application, be sure to add them to a requirements.txt file!</li>
        <div class="ui divider"></div>
    </ul>
        <p>Beyond these requirements, the design, look, and feel of the website are up to you!</p>


</div>


{% endblock %}